useDynLib(gseak)
exportPattern("^[[:alpha:]]+")

import(st)
import(sfsmisc)
import(GeneSelector)
importFrom(Rcpp, sourceCpp)
importFrom("methods", "new")
importFrom("stats", "density")
importFrom("graphics", "hist")
import(doParallel)
import(parallel)
import(foreach)

export(gseaK)
exportMethods(gseaK)
export(ES)
export(ginGS)
export(permutation)
export(GSet)
export(NES)
exportMethods(GSet)
export(plotDis)
export(plotES)
export(plotPerm)

