useDynLib(gseak)
exportPattern("^[[:alpha:]]+")

import(st)
import(sfsmisc)
import(GeneSelector)
import(mwt)
importFrom(Rcpp, sourceCpp)
importFrom("methods", "new")
importFrom("stats", "density")
import(doParallel)

exportMethods(gseaK)
export(ES)
export(ginGS)
export(permutation)
export(GSet)
exportMethods(GSet)
export(plotDis)

